

<div class="drawer-modal-overlay" id="drawer-modal-overlay" hidden th:fragment="drawerModal">
  <div class="drawer-modal">
    <div class="drawer-modal-header">
      <h3>서랍에 저장</h3>
      <button id="drawer-modal-close" type="button"><i class="ti ti-x"></i></button>
    </div>

    <div class="drawer-modal-new">
      <input type="text" id="new-drawer-name" placeholder="새 서랍 만들기" maxlength="20">
      <button id="new-drawer-btn" type="button">+</button>
    </div>

    <ul class="drawer-modal-list" id="drawer-modal-list">
    </ul>
  </div>
</div>