<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(pageCss)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" th:href="@{'/css/' + ${pageCss} + '.css'}">
  <title>LOOKLOG</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
</head>

<body>
<header class="board-header" id="header" th:fragment="nav">

  <ul class="oo-nav">
    <li><a href="">ABOUT</a></li>
    <li>
      <button class="nav-search-btn" type="button">
        <i class="ti ti-search"></i>
      </button>
    </li>
    <li><a th:href="@{/profile/{name}(name=${loginMemberName})}">CLOSET</a></li>
  </ul>

  <h1 class="board-title" id="title"><a th:href="@{/looklog}">LOOKLOG</a></h1>

  <div class="nav-search-box">
    <form action="/search" method="get">
      <input
              type="search"
              name="q"
              placeholder="find fit archive ..."
              autocomplete="off">
      <button type="submit">
        <i class="ti ti-search"></i>
      </button>
    </form>
  </div>

</header>
</body>
</html>